html{
	background: url("../img/green0.png");
	font-family: 'Exo', sans-serif;
}
.carousel-inner{
	width: 100%;
}
.carousel-caption{
  	top: 120px;
}
h1{font-size: 90px;}
p{font-size: 30px;}

.left{
	left: 30px;
	text-align: center;
	background: url("../img/green2.png");
	background-size: cover;
	position: absolute;
	width: 30%;
	height: auto;
}
.right{	
	right: 30px;
	background: url("../img/green1.png");
	background-size: cover;
	position: absolute;
	width: 65%;
}
h5{
	font-size: 30px;
	padding: 20px;
}
ul{
	left-padding: 20px;
	font-size: 30px;
}
.footer1{
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	background-color: darkgreen;
	width: 100%;
	height: 60px;
	color: white;
	padding: 10px;
}
.footer2{
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	height: 60px;
	background-color: darkgreen;
	width: 100%;
	color: white;
	padding: 10px;
}
@media (max-width: 700px) {
.left{display: none;}
.right{width: 90%;}
.footer2{text-align: center;}
}
